@import 'vars';
@import 'header';
@import 'profile';
@import 'contact';
@import'responsive';
@import 'index';




body {
    


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
}

}























